@charset "UTF-8";
/* Головний колір фону -- #FFFFFF; */
/* Другорядний колір фону -- #F7F7F7; */
/* Колір головних заголовків -- #FFFFFF; */
/* Колір другорядних заголовків -- #303030; */
/* Акцент -- #FF6C00; */
/* Головний колір тексту -- #555555; */
/* Другорядний колір тексту -- #303030; */
/* Білий колір -- #FFFFFF; */
/* Сірий колір -- #9DA4BD */
/* Шрифт заголовків -- 'Raleway',
sans-serif; */
/* Шрифт тексту -- 'Open Sans',
sans-serif; */
/* Глобальні змінні */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.secondary-btn, .primary-btn {
  display: inline-block;
  min-width: 160px;
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 250ms ease, background-color 250ms ease;
}
.secondary-btn:hover, .primary-btn:hover, .secondary-btn:focus, .primary-btn:focus {
  background-color: #ff6c00;
}

.secondary-title, .primary-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.18;
  letter-spacing: 2.1px;
}

.gallery-pre-title, .masters-pre-title, .reasons-pre-title, .prices-pre-title, .about-pre-title, .hero-pre-title {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.gallery-pre-title::before, .masters-pre-title::before, .reasons-pre-title::before, .prices-pre-title::before, .about-pre-title::before, .hero-pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}

body {
  background-color: #ffffff;
  color: #555555;
  font-family: "Open Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 130px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.primary-btn {
  color: #ffffff;
}

.secondary-btn {
  color: #303030;
}
.secondary-btn:hover, .secondary-btn:focus {
  color: #ffffff;
}

.primary-title {
  color: #ffffff;
}

.secondary-title {
  color: #303030;
}

.after-title, .about-after-title, .hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

.page-header {
  position: absolute;
  padding: 32px 0;
  width: 100%;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.page-header .primary-btn {
  margin-left: 40px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  transition: color 2000ms ease;
  fill: #303030;
}
.header-logo:hover, .header-logo:focus {
  fill: #ff6c00;
}

.header-list {
  display: flex;
  align-items: center;
  margin-left: 70px;
}
.header-list :not(:first-child) {
  margin-left: 40px;
}

.header-link {
  padding: 12px 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  transition: color 250ms ease;
}
.header-link:hover, .header-link:focus {
  color: #ff6c00;
}

.header-connect {
  margin-left: auto;
}

.hero {
  background-color: var(--primary-bg-color);
}
.hero .container {
  display: flex;
}

.hero-soc {
  display: flex;
  align-items: flex-end;
  width: 93px;
  padding-bottom: 33px;
  padding-left: 22px;
}

.hero-list {
  display: flex;
  align-items: center;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
}
.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.hero-item:not(:first-child) {
  margin-left: 40px;
}

.hero-link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  transition: color 250ms ease;
}
.hero-link:hover, .hero-link:focus {
  color: #ff6c00;
}

.hero-content {
  flex-grow: 1;
  padding: 272px 0 206px 96px;
  background-image: linear-gradient(to right, rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-top: 20px;
  font-size: 72px;
  letter-spacing: 3.6px;
}

.hero-after-title {
  margin-top: 20px;
  max-width: 400px;
  color: #9da4bd;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  flex-shrink: 0;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.about-content {
  margin-left: 64px;
}

.about-pre-title {
  margin-bottom: 20px;
  color: #303030;
}

.about .secondary-title {
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.28px;
}

.prices {
  min-width: 1280px;
  margin: 0 auto;
  background-color: #111319;
  background-image: url(../images/prices/prices-bg-2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.prices .container {
  display: flex;
  flex-direction: column;
}
.prices .primary-btn {
  margin: 50px auto 0;
}

.prices-pre-title {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.prices .primary-title {
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
}

.prices-list {
  padding: 30px 40px;
  width: 50%;
}
.prices-list.light {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list.dark {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  margin: 0 6px;
  background-color: rgba(157, 164, 189, 0.12);
}
.prices-item:not(:first-child) {
  margin-top: 20px;
}

.prices-text {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.prices-text:first-child {
  order: -1;
}

.reasons .container {
  display: flex;
  padding-left: 125px;
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.reasons-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
}
.reasons-item:nth-child(odd) {
  margin-right: 30px;
}
.reasons-item:nth-child(even) {
  margin-top: 30px;
}

.reasons-count {
  display: block;
  color: #303030;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 2.1px;
}
.reasons-count::after {
  content: "+";
  color: #ff6c00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  vertical-align: top;
}

.reasons-text {
  color: #303030;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
}

.reasons-content {
  margin-left: 130px;
  padding-top: 9px;
}

.reasons-pre-title {
  margin-bottom: 20px;
  color: #303030;
}

.reasons-content .secondary-title {
  margin-bottom: 20px;
  width: 412px;
}

.reasons-content .after-title, .reasons-content .hero-after-title, .reasons-content .about-after-title {
  max-width: 500px;
}

.masters {
  background-color: #f7f7f7;
}

.masters-pre-title {
  margin-bottom: 20px;
  color: #303030;
}

.masters .secondary-title {
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.masters-item {
  flex-basis: calc((100% - 60px) / 3);
}

.masters-cover-wrap {
  position: relative;
  overflow: hidden;
}

.masters-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px;
  background-color: rgba(255, 106, 0, 0.565);
  color: #ffffff;
  font-weight: 600;
  line-height: 1.4;
  transform: translateY(100%);
  transition: transform 250ms ease;
}
.masters-item:hover .masters-cover-text {
  transform: translateY(0);
}

.masters-item-title {
  margin-top: 30px;
  color: #303030;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.36px;
}

.masters-item-text {
  margin-top: 8px;
  color: #ff6c00;
  text-align: center;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.28px;
}

.masters-soc-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.masters-soc-item:not(:first-child) {
  margin-left: 10px;
}

.masters-soc-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #303030;
  transition: fill 250ms ease;
}
.masters-soc-link:hover, .masters-soc-link:focus {
  fill: #ff6c00;
}

.gallery-pre-title {
  margin-bottom: 44px;
  color: #303030;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  flex-basis: calc((100% - 90px) / 4);
}

.contact-wrap {
  min-width: 1280px;
  margin: 0 auto;
  background-color: #191c26;
  background-image: url(../images/contacts/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
}
.contact-wrap .container {
  display: flex;
}

.online {
  width: calc(50% + 15px);
  padding-right: 40px;
}
.online .primary-title {
  margin-bottom: 44px;
}

.online-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.online-field {
  position: relative;
  width: 270px;
}
.online-field:last-child {
  width: 260px;
}

.online-input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: border-color 250ms ease;
}
.online-input:focus {
  border-color: #ffffff;
}

.online-label {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: transform 250ms ease;
}
.online-label::after {
  content: "*";
}
.online-input:focus + .online-label {
  color: #ffffff;
  transform: translateY(-100%);
}
.online-input:not(:-moz-placeholder-shown) + .online-label {
  transform: translateY(-100%);
}
.online-input:not(:placeholder-shown) + .online-label {
  transform: translateY(-100%);
}

.online-comment-field {
  margin-bottom: 44px;
}

.online-comment {
  width: 100%;
  height: 76px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  resize: none;
  color: #ffffff;
  font-size: 14px;
  outline: none;
  transition: border-color 250ms ease;
}
.online-comment:focus {
  border-color: #ffffff;
}
.online-comment::-moz-placeholder {
  color: rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -moz-transition: color 250ms ease;
  transition: color 250ms ease;
}
.online-comment::placeholder {
  color: rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 250ms ease;
}
.online-comment:focus::-moz-placeholder {
  color: #ffffff;
}
.online-comment:focus::placeholder {
  color: #ffffff;
}

.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}
.contacts .primary-title {
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
  font-style: normal;
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.contacts-link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: middle;
}
.contacts-link.icon-map::before {
  background-image: url(../images/contacts/icon-map-pin.svg);
}
.contacts-link.icon-phone::before {
  background-image: url(../images/contacts/icon-phone.svg);
}
.contacts-link.icon-mail::before {
  background-image: url(../images/contacts/icon-mail.svg);
}
.contacts-link.underline {
  text-decoration: underline;
}

.contacts-time-title {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.contacts-time-title::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: rgba(157, 164, 189, 0.4);
}

.contacts-time-text {
  margin-top: 20px;
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

.page-footer {
  background-color: #f7f7f7;
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copy {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.footer-list {
  display: flex;
}

.footer-item {
  display: inline-flex;
  align-items: center;
}
.footer-item:not(:first-child) {
  margin-left: 40px;
}
.footer-item:first-child::before {
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #303030;
}

.footer-link {
  display: inline-flex;
  align-items: center;
  padding: 55px 0;
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 82, 0.4);
  transition: opacity 1000ms ease, visibility 1000ms ease;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: scale(1) translate(-50%, -50%);
  transition: transform 1000ms ease;
}
.modal .secondary-btn {
  display: block;
  margin: 0 auto;
}
.backdrop.is-hidden .modal {
  transform: scale(0) perspective(400px) rotateY(45deg);
}

.close-modal-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
  cursor: pointer;
  transition: fill 250ms ease, border-color 250ms ease;
}
.close-modal-btn:hover, .close-modal-btn:focus {
  fill: #ff6c00;
  border-color: #ff6c00;
}

.modal-title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.6px;
}

.modal-field {
  position: relative;
}
.modal-field + .modal-field {
  margin-top: 28px;
}

.modal-input,
.modal-comment {
  width: 100%;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: color 250ms ease, transform 250ms ease;
}
.modal-input:focus + .modal-label {
  color: #ff6c00;
  transform: translateY(-40px);
}
.modal-input:not(:-moz-placeholder-shown) + .modal-label {
  transform: translateY(-40px);
}
.modal-input:not(:placeholder-shown) + .modal-label {
  transform: translateY(-40px);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms ease;
}
.modal-field:focus-within > .modal-icon {
  fill: #ff6c00;
}

.modal-comment {
  height: 120px;
  padding-left: 19px;
  resize: none;
}

.policy-field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy-label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

.policy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-origin: border-box;
  fill: transparent;
  transition: fill 250ms ease, background-color 250ms ease, border 250ms ease;
}
.policy-input:checked + .policy-label > .policy-icon {
  border: transparent;
  background-color: #ff6c00;
  fill: #ffffff;
}

.policy-link {
  padding-left: 5px;
  color: #ff6c00;
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */