/* Головний колір фону -- #FFFFFF; */
/* Другорядний колір фону -- #F7F7F7; */
/* Колір головних заголовків -- #FFFFFF; */
/* Колір другорядних заголовків -- #303030; */
/* Акцент -- #FF6C00; */
/* Головний колір тексту -- #555555; */
/* Другорядний колір тексту -- #303030; */
/* Білий колір -- #FFFFFF; */
/* Сірий колір -- #9DA4BD */
/* Шрифт заголовків -- 'Raleway',
sans-serif; */
/* Шрифт тексту -- 'Open Sans',
sans-serif; */


/* Глобальні змінні */
:root {
  --accent: #FF6C00;
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #F7F7F7;
  --primary-title-color: #FFFFFF;
  --secondary-title-color: #303030;
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --white-color: #FFFFFF;
  --gray-color: #9DA4BD;
  --title-font: 'Raleway',
    sans-serif;
  --text-font: 'Open Sans',
    sans-serif;
}


/* Reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  font-family: inherit;
}


/* ----Common---- */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--text-font);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: var(--title-font);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 2.1px;
}

.title.primary {
  color: var(--primary-title-color);
}

.title.secondary {
  color: var(--secondary-title-color);
}

.registration-link {
  border: 1px solid var(--accent);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}

.registration-link.primary {
  color: var(--white-color);
}

.registration-link.secondary {
  color: var(--secondary-text-color);
}

.pre-title {
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

/* Header */
.page-header {
  background-color: teal;
}

.header-link,
.tel-link {
  color: var(--white-color);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent);
}



/* ----Hero---- */
.hero {
  background-color: pink;
}

.hero-link {
  color: var(--secondary-title-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.60);
}

.hero-title {
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 3.6px;
}

.hero-after-title {
  color: var(--gray-color);
}


/* ----About---- */
.about-pre-title {
  color: var(--secondary-text-color);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.28px;
}

/* ----Prices---- */
.prices {
  background-color: yellowgreen;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices-text {
  color: var(--gray-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}


/* ----Reasons---- */
.reasons-count {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 2.1px;
}

.reasons-text {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.37;
}

.reasons-pre-title {
  color: var(--secondary-text-color);
}



/* ----Masters---- */
.masters {
  background-color: beige;
}

.masters-pre-title {
  color: var(--secondary-text-color);
}

.masters-item-title {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  letter-spacing: 0.36px;
}

.masters-item-text {
  color: var(--accent);
  text-align: center;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.28px;
}


/* ----Gallery---- */
.gallery-pre-title {
  color: var(--secondary-text-color);
}


/* ----Registration---- */
.registration {
  background-color: aqua;
}


/* ----Contacts---- */
.contacts {
  background-color: aquamarine;
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  color: var(--gray-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

.contacts-link.underline {
  text-decoration: underline;
}

.contacts-time-title {
  color: var(--white-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.contacts-time-text {
  color: var(--gray-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}


/* ----Footer---- */
.footer-copy {
  color: var(--gray-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.footer-link {
  color: var(--secondary-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}