.gallery-pre-title {
  @extend %pre-title;
  margin-bottom: 44px;
  color: $secondary-text-color;
}

.gallery-list {
  @include min-tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.gallery-item {
  @include max-mobile {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include min-tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desctop {
    flex-basis: calc((100% - 90px) / 4);
  }
}
