.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 82, 0.4);
  transition: opacity 1000ms ease, visibility 1000ms ease;
  overflow: auto;

  @include max-mobile {
    padding-top: 93px;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: perspective(400px) rotateY(0) scale(1);
  transition: transform 1000ms ease;

  .backdrop.is-hidden & {
    transform: perspective(400px) rotateY(45deg) scale(0.1);
  }

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }

  @include min-tablet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include desctop {
    width: 528px;
    min-height: 581px;
  }
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
  cursor: pointer;
  transition: fill 250ms ease, border-color 250ms ease;

  &:hover,
  &:focus {
    fill: $accent;
    border-color: $accent;
  }
}

.modal-title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: 0.6px;
}

.modal-field {
  position: relative;

  & + & {
    margin-top: 28px;
  }
}

.modal-input,
.modal-comment {
  width: 100%;
  padding-top: 11px;
  padding-right: 12px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  transition: color 250ms ease, transform 250ms ease;

  .modal-input:focus + & {
    color: $accent;
    transform: translateY(-40px);
  }

  .modal-input:not(:placeholder-shown) + & {
    transform: translateY(-40px);
  }
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms ease;

  .modal-field:focus-within > & {
    fill: $accent;
  }
}

.modal-comment {
  height: 120px;
  padding-left: 19px;
  resize: none;
}

.policy-field {
  margin-top: 20px;
  margin-bottom: 30px;
}

.policy-label {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 8px;

  @media screen and (min-width: 480px) {
    font-size: 11px;
  }

  @include desctop {
    font-size: 14px;
  }
}

.policy-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-origin: border-box;
  fill: transparent;
  transition: fill 250ms ease, background-color 250ms ease, border 250ms ease;

  .policy-input:checked + .policy-label > & {
    border: transparent;
    background-color: $accent;
    fill: #ffffff;
  }
}

.policy-link {
  padding-left: 5px;
  color: $accent;
  text-decoration: underline;
}

.modal .secondary-btn {
  display: block;
  margin: 0 auto;
}
