.page-header {
  position: absolute;
  padding: 32px 0;
  width: 100%;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  transition: color 2000ms ease;

  &:hover,
  &:focus {
    fill: $accent;
  }

  @include max-mobile {
    fill: #ffffff;
  }

  @include min-tablet {
    fill: #303030;
  }
}

.header-list {
  display: flex;
  align-items: center;

  @include max-mobile {
    display: none;
  }

  @include min-tablet {
    margin-left: 50px;
  }

  @include desctop {
    margin-left: 70px;
  }
}

.header-item {
  @include min-tablet {
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include desctop {
    &:not(:first-child) {
      margin-left: 40px;
    }
  }
}

.header-link {
  padding: 12px 0;
  color: $white-color;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 1.2px;
  transition: color 250ms ease;

  &:hover,
  &:focus {
    color: $accent;
  }
}

.header-connect {
  margin-left: auto;

  @include max-mobile {
    display: none;
  }
}

.header-connect .header-link {
  @include max-tablet {
    display: none;
  }
}

.page-header .primary-btn {
  margin-left: 40px;
}

.menu-open-btn {
  display: block;
  margin-left: auto;
  border: none;
  background-color: transparent;
  fill: #ffffff;
  transition: fill 250ms ease;

  &:hover,
  &:focus {
    fill: $accent;
  }

  @include min-tablet {
    display: none;
  }
}

.menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 82, 0.4);
  transition: opacity 1000ms ease, visibility 1000ms ease;
  overflow-y: scroll;
  z-index: 1;
}

.mob-menu {
  @include min-tablet {
    display: none;
  }

  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 100%;
  padding-top: 100px;
  padding-right: 5px;
  padding-bottom: 100px;
  padding-left: 60px;
  background-color: #ffffff;
  overflow: auto;
}

.menu-close-btn {
  position: absolute;
  display: block;
  top: 48px;
  right: 31px;
  display: block;
  border: none;
  background-color: transparent;
  fill: #303030;
  transition: fill 250ms ease;

  &:hover,
  &:focus {
    fill: $accent;
  }
}

.mob-menu-item {
  &:not(:first-child) {
    margin-top: 24px;
  }
}

.mob-menu-link,
.mob-contact-link,
.mob-soc-link {
  color: $secondary-text-color;
  font-size: 18px;
  font-weight: 600px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  transition: color 250ms ease;

  &:hover,
  &focus {
    color: $accent;
  }
}

.mob-menu .secondary-btn {
  display: block;
  margin-top: 24px;
  margin-bottom: 64px;
  max-width: 150px;
  text-align: center;
}

.mob-soc-list {
  @media screen and (min-width: 375px) {
    position: relative;
    padding-left: 100px;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      display: block;
      width: 60px;
      height: 1px;
      background-color: #303030;
    }
  }
}

.mob-soc-item {
  &:first-child {
    margin-bottom: 24px;
  }
}
