/* Головний колір фону -- #FFFFFF; */
/* Другорядний колір фону -- #F7F7F7; */
/* Колір головних заголовків -- #FFFFFF; */
/* Колір другорядних заголовків -- #303030; */
/* Акцент -- #FF6C00; */
/* Головний колір тексту -- #555555; */
/* Другорядний колір тексту -- #303030; */
/* Білий колір -- #FFFFFF; */
/* Сірий колір -- #9DA4BD */
/* Шрифт заголовків -- 'Raleway',
sans-serif; */
/* Шрифт тексту -- 'Open Sans',
sans-serif; */

/* Глобальні змінні */
$accent: #ff6c00;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f7f7f7;
$primary-title-color: #ffffff;
$secondary-title-color: #303030;
$primary-text-color: #555555;
$secondary-text-color: #303030;
$white-color: #ffffff;
$gray-color: #9da4bd;
$title-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;
